@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.div-container {
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  background-color: #a9ddd6;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
}

.calculator-screen {
  width: 95%;
  height: 4rem;
  font-size: 1.5rem;
  border: 0.125rem solid #f0f1f1;
  border-radius: 0.25rem;
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
}

.calculator-screen:focus {
  outline: none;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem;
}

li {
  color: #fff;
  background-color: #68b0ab;
  width: 80%;
  height: 50px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0.0625rem 0.0625rem 0.25rem #68b0ab93;
}

li:active {
  box-shadow: inset 5px 5px 10px -3px #528f8b;
  outline: none;
}
